body,
button {
    background-color: #4bce97;
}

ul {
    list-style: none;
}

nav {
    border-bottom: 2px solid green;
}


.divInput {
    width: fit-content !important;
    /* border: 2px solid red; */
    margin-top: 15rem;
}

#enter{
    margin-left: auto !important;
    margin-right: auto !important;
    height: 40px;
    /* width: 150%; */
    border: none;
}
#divTimer{
    /* border: 1px solid blue; */
    width: fit-content;
    margin-top: 25rem;
}
.hidden{
    display: none !important;
}
#countH, #countM, #countS{
    /* border: 1px solid red; */
    width: fit-content;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

#comeBack{
    font-size: 30px;
    color: white;
    width: fit-content;
}