body,
button {
    background-color: #4bce97;
}
body{
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
ul {
    list-style: none;
}

nav {
    border-bottom: 2px solid green;
}


.divInput {
    width: fit-content !important;
    /* border: 2px solid red; */
}

input{
    margin-left: auto !important;
    margin-right: auto !important;
    height: 50px !important;
    border: none;
    outline: none !important;
}
#divTimer{
    /* border: 1px solid blue; */
    width: fit-content;
    margin-top: 25rem;
}
.hidden{
    display: none !important;
}


#comeBack{
    font-size: 30px;
    color: white;
    width: fit-content;
}